.titulo { color: darkslategray; font-size: 40px; font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.titulo2 {color: steelblue; font-size: 25px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

.estilod { color:sienna; font-size: 15px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
.estilo1 {color:saddlebrown; font-size: 13px; font-family: Arial, Helvetica, sans-serif;}
#estilo2 {color:blueviolet; font-size: 18px; font-family:'Calibri';}
#estilo3 {color:rgb(16, 108, 80);font-size: 20px; font-family: 'Times New Roman', Times, serif;}
a {font-family: Arial, Helvetica, sans-serif; font-size: 20px; color:cadetblue}
a:hover, a:active{color: #eee;}
a:visited{color: rgb(209, 125, 207);}

iframe { width: 500px; height: 300px;}